@import "tailwindcss";
@plugin "@tailwindcss/forms";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";
@import "@skeletonlabs/skeleton/themes/cerberus";
@import "@skeletonlabs/skeleton/themes/wintry";

@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));

html,
body {
    @apply h-full;
}